Flask==0.10.1


# The line below isn't covered on video, but it locks werkzeug to the latest
# version that works with this course's code base. A future update video will
# cover upgrading this package and more.
werkzeug==0.14.1


# These packages are both dependencies of Flask and now we're locking them to
# a specific version that works with our version of Flask.
itsdangerous==1.1.0
markupsafe==1.1.1


# Jinja 2 is the HTML templating library that Flask uses.
jinja2==3.0.3

# Application server for both development and production.
gunicorn==19.4.5
